@* 7.1.4. Hệ thống hiển thị giao diện (admin_order.cshtml) từ action admin_order() trả về *@
@{
    ViewData["Title"] = "Quản lí đơn hàng";
}

@* Scripts *@
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="//cdn.datatables.net/2.0.2/js/dataTables.min.js"></script>

@* CSS *@
<link rel="stylesheet" href="//cdn.datatables.net/2.0.2/css/dataTables.dataTables.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<style>
    .button-status {
        border-color: #3498db;
        color: #fff;
        box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
        transition: all 150ms ease-in-out;
        width: 150px;
        height: 50px;
    }

    .button-status:hover {
        box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
    }

    .btn-detail, .btn-update {
        padding: 8px 16px;
        margin-bottom: 10px;
    }

    .btn-detail {
        width: 85%;
    }

    .btn-detail:hover {
        background-color: #3ab0f2 !important;
        color: white;
    }

    .btn-update:hover {
        background-color: #d39e00 !important;
        color: white;
    }

    .modal-body ul li {
        list-style-type: none !important;
    }

    #table_id_wrapper {
        overflow-x: auto;
    }
</style>

<partial name="_AdminHeader" />

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="#" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Danh mục</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start">
                    <li class="nav-item">
                        <a href="@Url.Action("admin_summary","Admin")" class="nav-link align-middle px-0">
                            <i class="fa-solid fa-chart-simple"></i> <span class="ms-1 d-none d-sm-inline">Doanh thu</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("admin_product","Admin")" class="nav-link px-0 align-middle" id="menu_0">
                            <i class="fa-brands fa-product-hunt"></i> <span class="ms-1 d-none d-sm-inline">Quản lí sản phẩm</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("admin_form_upload_product","Admin")" class="nav-link px-0 align-middle" id="menu_1">
                            <i class="fa-solid fa-upload"></i> <span class="ms-1 d-none d-sm-inline">Thêm sản phẩm</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("admin_order","Admin")" class="nav-link px-0 align-middle">
                            <i class="fa-solid fa-gift"></i> <span class="ms-1 d-none d-sm-inline">Quản lí đơn hàng</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","UserAdmin")" class="nav-link px-0 align-middle">
                            <i class="fa-solid fa-user"></i> <span class="ms-1 d-none d-sm-inline">Quản lí người dùng</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("admin_inventory","Admin")" class="nav-link px-0 align-middle">
                            <i class="fa-solid fa-warehouse"></i><span class="ms-1 d-none d-sm-inline">Quản lí số lượng tồn kho</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("admin_log","Admin")" class="nav-link px-0 align-middle">
                            <i class="fa-solid fa-note-sticky"></i> <span class="ms-1 d-none d-sm-inline">Quản lí log</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("admin_image","Admin")" class="nav-link px-0 align-middle">
                            <i class="fa-solid fa-image"></i> <span class="ms-1 d-none d-sm-inline">Quản lí ảnh</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("admin_logout","Admin")" class="nav-link px-0 align-middle">
                            <i class="fa-solid fa-door-open"></i><span class="ms-1 d-none d-sm-inline">Đăng xuất</span>
                        </a>
                    </li>
                </ul>
                <hr>
            </div>
        </div>
        <div class="col py-3" style="width: 70%;">

            <button class="button-status text-black" name="btn" value="Chờ xác nhận" id="waiting">Chờ xác nhận</button>
            <button class="button-status text-black" name="btn" value="Cho giao" id="waiting-giving">Chờ giao hàng</button>
            <button class="button-status text-black" name="btn" value="Đang giao" id="giving">Đang giao hàng</button>
            <button class="button-status text-black" name="btn" id="gived" value="Đã giao">Đã giao</button>
            <button class="button-status text-black" name="btn" id="canceled" value="Hủy">Đã hủy</button>

            <table id="table_data" class="table table-striped">
                <thead>
                    <tr>
                        <th>Mã đơn hàng</th>
                        <th>Tên khách hàng</th>
                        <th>Ngày đặt hàng</th>
                        <th>Tổng tiền</th>
                        <th>Trạng thái</th>
                        <th>Trạng thái thanh toán</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                @* 7.2.11. Nếu danh sách đơn hàng trả về trống, DataTable hiển thị: "No data available in table." *@
                <tbody id="body">
            </table>
        </div>
    </div>
</div>

<script>
        let dataTable;

        $(document).ready(function () {
        // 7.1.5. Hệ thống khởi tạo DataTable từ bảng hiển thị dữ liệu và gán vào biến dataTable
        dataTable = $("#table_data").DataTable();
         // 7.1.6. Giao diện gửi yêu cầu lấy danh sách đơn hàng đến OrderController thông qua API
         loadOrders('/api/orders/getorders/all');
        });

        // Hàm loadOrders()
        function loadOrders(url) {
        $.ajax({
            url: url,
            method: 'GET',
            // 7.1.8. OrderController trả về danh sách tất cả đơn hàng trong respone dưới dạng JSON
            dataType: 'JSON',
            // 7.1.9. Trang admin_order.cshtml nhận dữ liệu danh sách đơn hàng dạng JSON
            success: function (response) {

                // 7.1.10. Hệ thống duyệt qua từng dữ liệu đơn hàng trong JSON
                $.each(response, function (index, value) {
                    const rowData = [];

                $.each(value, function (key, value_item) {
                   // Format định dạng tiền trước khi thêm vào DataTable
                   if (key.toLowerCase().includes("totalprice")) {
                       const formattedPrice = value_item.toLocaleString('vi-VN') + ' đ';
                       rowData.push(formattedPrice);
                    } else {
                       rowData.push(value_item);
                    }
                });

                    // Tạo nút Chi tiết
                    const $detail = $('<button class="btn btn-sm btn-info btn-detail me-2"><i class="fa-solid fa-circle-info"></i> Chi tiết</button>').click(function () {
                        showOrderDetailModal(value.id);
                    })[0].outerHTML;

                    // Tạo nút Cập nhật
                    const $edit = $('<button class="btn btn-sm btn-warning btn-update"><i class="fa-solid fa-wrench"></i> Cập nhật</button>').click(function () {
                        showUpdateOrderModal(value.id);
                    })[0].outerHTML;

                    // Thêm cả 2 nút vào cùng 1 ô cột cuối
                    rowData.push($detail + $edit);

                    // 7.1.11. Hệ thống gọi dataTable.row.add(rowData) để thêm dòng dữ liệu đơn hàng vào DataTable
                    dataTable.row.add(rowData);
                });

                   // 7.1.12. Hệ thống gọi dataTable.draw() để vẽ bảng với dữ liệu tất cả đơn hàng
                dataTable.draw();
            },

            // 7.2.8. Hệ thống hiển thị thông báo lỗi "Lỗi khi lấy danh sách đơn hàng" (alert) trên màn hình quản lý đơn hàng
            error: function (error) {
                alert('Lỗi khi lấy danh sách đơn hàng');
            }
        });
    }
</script>