@{
Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lí người dùng</title>
    <link rel="stylesheet" href="//cdn.datatables.net/2.0.2/css/dataTables.dataTables.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <style>
        .spinner {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        #table_id_wrapper {
            overflow-x: auto;
        }
    </style>
</head>
<body>
@* @Html.Partial("_AdminHeader") <!-- Equivalent of JSP include --> *@

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="#" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Danh mục </span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start">
                    <li class="nav-item">
                        <a href="@Url.Action("Summary", "Admin")" class="nav-link align-middle px-0">
                            <i class="fa-solid fa-chart-simple"></i> <span class="ms-1 d-none d-sm-inline">Doanh thu</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ProductManagement", "Admin")" class="nav-link px-0 align-middle" id="menu_0">
                            <i class="fa-brands fa-product-hunt"></i> <span class="ms-1 d-none d-sm-inline">Quản lí sản phẩm</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("UploadProductForm", "Admin")" class="nav-link px-0 align-middle" id="menu_1">
                            <i class="fa-solid fa-upload"></i> <span class="ms-1 d-none d-sm-inline">Thêm sản phẩm</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("OrderManagement", "Admin")" class="nav-link px-0 align-middle">
                            <i class="fa-solid fa-gift"></i> <span class="ms-1 d-none d-sm-inline">Quản lí đơn hàng</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("admin_user", "Admin")" class="nav-link px-0 align-middle">
                            <i class="fa-solid fa-user"></i> <span class="ms-1 d-none d-sm-inline">Quản lí người dùng</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("InventoryManagement", "Admin")" class="nav-link px-0 align-middle">
                            <i class="fa-solid fa-warehouse"></i><span class="ms-1 d-none d-sm-inline">Quản lí số lượng tồn kho</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("LogManagement", "Admin")" class="nav-link px-0 align-middle">
                            <i class="fa-solid fa-note-sticky"></i> <span class="ms-1 d-none d-sm-inline">Quản lí log</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ImageManagement", "Admin")" class="nav-link px-0 align-middle">
                            <i class="fa-solid fa-image"></i> <span class="ms-1 d-none d-sm-inline">Quản lí ảnh</span>
                        </a>
                    </li>
                    @* @if (Session["user"] != null) *@
                    @* { *@
                    <li>
                        <a href="@Url.Action("Logout", "Admin")" class="nav-link px-0 align-middle">
                            <i class="fa-solid fa-door-open"></i> <span class="ms-1 d-none d-sm-inline">Đăng xuất</span>
                        </a>
                    </li>
                    
                </ul>

                <hr>
            </div>
        </div>

        <div class="col py-3" style="width: 70%">
            <button type="button" class="btn btn-primary" id="convert" onclick="converttoExcel()">Xuất Excel</button>
            <table id="table_id" class="table table-striped">
                <thead>
                <tr>
                    <th>STT</th>
                    <th>Tài khoản</th>
                    <th>Mật khẩu</th>
                    <th>Họ tên</th>
                    <th>Giới tính</th>
                    <th>Ngày sinh</th>
                    <th>Email</th>
                    <th>SĐT</th>
                    <th>Địa chỉ</th>
                    <th>Ngày tạo</th>
                    <th>Ngày cập nhật</th>
                    <th>Quyền hạn</th>
                    <th>Loại đăng nhập</th>
                    <th>Thao tác</th>
                </tr>
                </thead>
                <tbody id="body">
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="//cdn.datatables.net/2.0.2/js/dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="@Url.Content("~/js/table2excel.js")"></script>

<script>
    $(document).ready(function () {
        $("#table_id").DataTable();
    });

    var $tbody = $('#body');

    $(document).ready(function () {
        var $spinner = $('<div class="spinner"><div class="d-flex justify-content-center"><div class="spinner-border" role="status"><span class="visually-hidden">Loading...</span></div></div></div>');
        $('body').append($spinner);

        function showSpinner() {
            $spinner.show();
        }

        function hideSpinner() {
            $spinner.hide();
        }

        showSpinner();
        $.ajax({
            url: '@Url.Action("GetUsers", "User")',
            method: 'GET',
            dataType: 'JSON',
            success: function (response) {
                hideSpinner();
                $.each(response, function (key, value) {
                    var $row = $('<tr>');
                    $row.attr('id', value.id);

                    $.each(value, function (key, value_item_key) {
                        var $cell = $('<td>').text(value_item_key);
                        $row.append($cell);
                    });

                    var $edit = $('<i class="fa-solid fa-wrench"></i>').click(function () {
                        Swal.fire({
                            title: "Bạn có chắc chắn không?",
                            text: "Bạn sẽ không thể khôi phục được!",
                            icon: "warning",
                            input: 'select',
                            inputOptions: {
                                admin: 'Admin',
                                user: 'User',
                                prohibit: 'Prohibit'
                            },
                            showCancelButton: true,
                            confirmButtonColor: "#3085d6",
                            cancelButtonColor: "#d33",
                            confirmButtonText: "Yes, delete it!"
                        }).then((result) => {
                            if (result.isConfirmed) {
                                const selected_value = result.value;
                                let id = $row.prop('id');
                                $.ajax({
                                    url: '@Url.Action("UpdateUser", "Admin")',
                                    data: { id: id, select: selected_value },
                                    dataType: 'json',
                                    type: "POST",
                                    success: function (res) {
                                        console.log(res);
                                        Swal.fire({
                                            title: "Đã cập nhật!",
                                            text: "Cập nhật thành công.",
                                            icon: "success"
                                        });
                                    }
                                });
                            }
                        });
                    });

                    var $delete = $('<i class="fa-solid fa-trash"></i>').click(function () {
                        Swal.fire({
                            title: "Bạn có chắc chắn không?",
                            text: "Bạn sẽ không thể khôi phục được!",
                            icon: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#3085d6",
                            cancelButtonColor: "#d33",
                            confirmButtonText: "Yes, delete it!"
                        }).then((result) => {
                            if (result.isConfirmed) {
                                let id = $row.prop('id');
                                $.ajax({
                                    url: '@Url.Action("DeleteUser", "Admin")',
                                    data: { id: id },
                                    dataType: 'json',
                                    type: "DELETE",
                                    success: function (res) {
                                        console.log(res);
                                        Swal.fire({
                                            title: "Đã xóa!",
                                            text: "Tài khoản của bạn đã bị xóa.",
                                            icon: "success"
                                        });
                                    }
                                });
                            }
                        });
                    });

                    var $cell_edit = $('<td>').append($edit);
                    var $cell_delete = $('<td>').append($delete);

                    $row.append($cell_edit, $cell_delete);
                    $tbody.append($row);
                });
            },
            error: function (xhr, status, error) {
                console.log(xhr, status, error);
            }
        });
    });

    function converttoExcel() {
        var table2excel = new Table2Excel();
        table2excel.export(document.querySelectorAll("#table_id"));
    }
</script>
</body>
</html>
