@model Dot_Net_ECommerceWeb.Model.Product;
@{
    ViewBag.Title = "Danh Mục Sản Phẩm";
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        #product-detail {
        }

            #product-detail .img-product img {
                height: 510px;
                width: 450px;
            }

            #product-detail .sub-img img {
                margin-top: 10px;
                height: 130px;
                width: 130px;
            }

            #product-detail .line {
                width: 100px;
                height: 1px;
                background-color: black;
            }

            #product-detail td {
                list-style-type: disc;
            }

            #product-detail .thanhToan button {
                height: 40px;
            }

        #largeImage {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background-color: rgba(0, 0, 0, 0.8);
        }

            #largeImage img {
                width: 650px; /* hoặc height: 800px; */
                height: auto; /* hoặc width: auto; */
            }

        #product-detail .dataFlow {
            margin: auto;
            display: flex;
        }

            #product-detail .dataFlow .key {
                font-weight: bold;
                flex: 2;
                margin: 0;
            }

            #product-detail .dataFlow .value {
                flex: 4;
                margin: 0;
            }


        

    </style>
</head>

<body>
    @Html.Partial("~/Views/Header/Header.cshtml")

    <section id="product-detail" class="container mt-4">
        <div class="container row mx-auto">
            <div class="col-md-6">
                <div class="img-product mb-4">
                    <!-- Hiển thị hình ảnh chính của sản phẩm -->
                    <img src="@Url.Content(ViewBag.ProductImage.ImgMain)" alt="Main Image" onclick="displayImage(this)">
                </div>
                <div class="d-flex justify-content-center">
                    <!-- Hiển thị các hình ảnh phụ -->
                    <div class="sub-img mx-1">
                        <img src="@Url.Content(ViewBag.ProductImage?.Img1)" alt="Extra Image 1" onclick="displayImage(this)">
                    </div>
                    <div class="sub-img mx-1">
                        <img src="@Url.Content(ViewBag.ProductImage?.Img2)" alt="Extra Image 2" onclick="displayImage(this)">
                    </div>
                    <div class="sub-img mx-1">
                        <img src="@Url.Content(ViewBag.ProductImage?.Img3)" alt="Extra Image 3" onclick="displayImage(this)">
                    </div>
                    <div class="sub-img mx-1">
                        <img src="@Url.Content(ViewBag.ProductImage?.Img4)" alt="Extra Image 4" onclick="displayImage(this)">
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="name mb-3">
                    @ViewBag.Product.ProductName
                </div>
                <div class="line mb-3"></div>

                <div class="gia fs-4 fw-bold my-4">
                    @ViewBag.Product.Price
                </div>

                <div class="moTa">
                    <p class="lh-base fw-bold">
                        @ViewBag.Product.Description
                    </p>
                    <ul>
                        <li><p class="fs-6">Đá tự nhiên 100%</p></li>
                        <li><p class="fs-6">Kiểm định và bảo hành trọn đời</p></li>
                        <li><p class="fs-6">Miễn phí vận chuyển toàn quốc</p></li>
                        <li><p class="fs-6">Ship đảm bảo Quốc tế</p></li>
                    </ul>
                </div>
                <div class="row thanhToan">
                    <form action="@Url.Action("AddToCart", "ShoppingCart")" method="post" class="mt-4">
                        @* <input type="hidden" name="quantity" value="1" /> *@
                        <div class="quantity_selector">
                            <span class="minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                            <span id="quantity_value">1</span>
                            <span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                        </div>
                        <a class="btn btn-dark btn-custom add-to-cart" href="#" data-id="@ViewBag.Product.Id"
                           style="padding: 5px 10px;font-size: 15px;white-space: nowrap">
                            Thêm vào giỏ hàng
                        </a>
                    </form>
                </div>
            </div>
        </div>

        @* <div class="row container mx-auto mt-3"> 
             <p class="text-center fs-3">THÔNG SỐ KỸ THUẬT</p> 
             <div class="row d-flex"> 
                 <div class="col mx-auto"> 
                     @foreach (var entry in Model.Infor) 
                     { 
                         <div class="dataFlow m-3"> 
                             <p class="key">@entry.Key</p> 
                             <p class="value">@entry.Value</p> 
                         </div> 
                     } 
                 </div> 
             </div> 
         </div>  *@

        @Html.Partial("~/Views/views/footer.cshtml")
    </section>

    <div id="largeImage" class="text-center" onclick="hiddenImage()">
        <img class="mt-5" src="" alt="Large Image">
    </div>


    <script>
         $(document).ready(function () {
            initQuantity();
        });
        var isClicked = false;

        function displayImage(element) {
            var imageURL = element.src;
            var largeImage = document.getElementById('largeImage');
            var imgElement = largeImage.querySelector('img');
            imgElement.src = imageURL;
            largeImage.style.display = 'block';
        }


        function hiddenImage() {
            var largeImage = document.getElementById('largeImage');
            largeImage.style.display = 'none';
        }

        function initQuantity()
        {
            if($('.plus').length && $('.minus').length)
            {
                var plus = $('.plus');
                var minus = $('.minus');
                var value = $('#quantity_value');

                plus.on('click', function()
                {
                    var x = parseInt(value.text());
                    value.text(x + 1);
                });

                minus.on('click', function()
                {
                    var x = parseInt(value.text());
                    if(x > 1)
                    {
                        value.text(x - 1);
                    }
                });
            }
        }


    </script>
</body>
</html>
