@model Dot_Net_ECommerceWeb.Model.CustomerViewModel;

@{
    ViewBag.Title = "Thanh Toán";
}
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @Html.Partial("~/Views/Header/Header.cshtml")
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Thanh toán</h1>
                <p>Bạn hãy kiểm tra lại thông tin đơn hàng</p>
            </div>
        </div>
        @if (ViewData["Notify"] != null)
        {
            <div class="alert alert-danger">
                @ViewData["Notify"]
            </div>
        }
        <hr />
        @if (ViewBag.CheckCart != null)
        {
            <div class="row">
                <div class="col-md-9">
                    <form id="checkoutForm" action="@Url.Action("Checkout","ShoppingCart")" method="POST">
                        <h3>Thông tin khách hàng</h3>
                        <div class="form-group">
                            <label>Họ tên khách hàng</label>
                            <input type="text" name="CustomerName" class="form-control" autocomplete="off" style="width:80%;" required />
                        </div>
                        <div class="form-group">
                            <label>Số điện thoại</label>
                            <input type="text" name="Phone" class="form-control" autocomplete="off" style="width:80%;" required />
                        </div>
                        <div class="form-group">
                            <label>Địa chỉ</label>
                            <input type="text" name="Address" class="form-control" autocomplete="off" style="width:80%;" required />
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" name="Email" class="form-control" autocomplete="off" style="width:80%;" required/>
                        </div>

                        <div class="form-group">
                            <label>Hình thức thanh toán</label>
                            <select class="form-control" name="Payment" style="width:80%;" required>
                                <option value="tiền mặt" selected>Tiền mặt</option>
                                <option value="chuyển khoản">Chuyển khoản</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-block btn-success" style="width:80%;">Đặt hàng</button>
                        </div>
                    </form>
                    <br />

                </div>
                <div class="col-md-3" id="cartContainer">
                </div>
            </div>
        }
        else
        {
            <div>
                Không có sản phẩm,vui lòng thêm <a href="/Category/Category">sản phẩm</a> để thanh toán!!!!
            </div>
        }
    </div>
    @Html.Partial("~/Views/views/footer.cshtml")

    <script type="text/javascript">
        // Khi trang tải xong, gọi AJAX để hiển thị giỏ hàng
        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("Partial_Item_ThanhToan", "ShoppingCart")',
                type: 'GET',
                success: function (data) {
                    // Cập nhật nội dung giỏ hàng vào phần tử #cartContainer
                    $('#cartContainer').html(data);
                },
                error: function (xhr, status, error) {
                    alert('Có lỗi xảy ra khi tải giỏ hàng!');
                }
            });
        });
    </script>
</body>
</html>