@model IEnumerable<Dot_Net_ECommerceWeb.Model.ShoppingCartItem>
@using Dot_Net_ECommerceWeb.Helper;
@if (Model != null && Model.Any())
{
    <h3>GIỎ HÀNG<span style="float:right;position:relative"><small class="cartItemCount">@Model.Count()</small></span></h3>
    var i = 0;
    var tongtien = 0f;
    <div style="border:1px solid #000000; padding:10px; max-height: 300px; overflow-y: auto;">
        <table class="table">

            @foreach (var item in Model)
            {
                tongtien += item.TotalPrice;
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.Quantity</td>
                    <td>@Common.FormatNumber(item.Price, 0)</td>
                </tr>
            }
            <tr>
                <td>Tổng Tiền</td>
                <td></td>
                <td>@Common.FormatNumber(tongtien, 0)</td>
            </tr>
        </table>
    </div>

}
else
{
   <p>Không sản phẩm</p>
}
